<!-- footer starts -->
<!-- <div class="palenso-footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="palenso-footer-logo-container">
          <img src="../assets/images/palenso-logo.png" width="300">
        </div>
        <div class="palenso-footer-description">
          smallcase Technologies builds platforms & investment products to
          invest better in Indian equities. A smallcase is a basket of
          stocks/ETFs weighted intelligently to reflect an idea
        </div>
        <div class="palenso-footer-company-details">
          CIN: U74900KA2015PTC081722<br />
          GSTIN: 29AAWCS1488D1ZQ<br />
          SEBI Research Analyst INH200005984
        </div>
      </div>
      <div class="col-4 col-md-2">
        <div class="footer-link-header">Company</div>
        <div class="footer-link">About</div>
        <div class="footer-link">Blog</div>
        <div class="footer-link">Press</div>
        <div class="footer-link">Carrers</div>
      </div>
      <div class="col-6 col-md-3">
        <div class="footer-link-header">Products</div>
        <div class="footer-link">smallcases on 5paisa</div>
        <div class="footer-link">smallcases on Alice Blue</div>
        <div class="footer-link">smallcases on AxisDirect</div>
        <div class="footer-link">smallcases on Edelweiss</div>
        <div class="footer-link">smallcases on HDFC Sec</div>
        <div class="footer-link">smallcases on Kotak Sec</div>
        <div class="footer-link">smallcases on Zerodha</div>
      </div>
      <div class="col-md-2">
        <div class="footer-link-header">Fine Print</div>
        <div class="footer-link">Privacy</div>
        <div class="footer-link">Disclosures</div>
        <div class="footer-link">Definitions</div>
        <div class="footer-link">Return Calculation Methodology</div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-5">
        smallcase Technologies Private Limited <br />
        #51, 3rd Floor, Le Parc Richmonde, <br />
        Richmond Road, Shanthala Nagar, <br />
        Richmond Town, Bangalore - 560025
      </div>
      <div class="col-7 col-md-4 footer-contact">
        Contact us on help@smallcase.com
        <div class="footer-socail-icons">
          Find us on:<br />
          <a href="#"><i class="fab fa-facebook-f first"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="col-5 col-md-2"></div>
    </div>
  </div>
</div> -->
<!-- footer ends -->


<div class="container mb-5">
  <div class="row">
    <div class="col-md-6">
      <h6 style="color: #718096;"> © 2019 Palenso. All rights reserved.
      </h6>

    </div>
    <div class="col-md-6 text-right">
      <h6 style="color: #718096;"> We are based in Bangalore & Hyderabad</h6>
    </div>
  </div>
</div>